<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.jboss.ide.eclipse.as.core.server.JBoss7StartupConfiguration">
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-mp &quot;/home/user/Programme/wildfly-8.0.0.Final/modules&quot; -jaxpmodule javax.xml.jaxp-provider org.jboss.as.standalone"/>
<stringAttribute key="server-id" value="WildFly 8.0 Runtime Server1399634785405"/>
</launchConfiguration>
